@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #fff;
}



 /* src/global.css */
/* * { box-sizing: border-box; }
html, body, #root { height: 100%; }
body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #f5f6f8;
  color: #111;
}
.app-center {
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
} */
